:root {
  --background-color: #f4fae9;
  --primary-color: #01352c;
  --secondary-color: #157347;
  --tertiary-color: #61b390;
  --main-font: "Playfair Display", serif;
  --sub-font: "Poppins", sans-serif;
}

.hero {
  background: var(--background-color);
  padding: 150px 200px;
  text-align: center;
  line-height: 2;
}
.hero h1 {
  font-size: 96px;
  font-family: var(--main-font);
  font-weight: bold;
}
.hero h2 {
  font-size: 36px;
  font-family: var(--sub-font);
  font-weight: bold;
  color: var(--primary-color);
}
.hero p {
  font-family: var(--sub-font);
  font-size: 22px;
  font-weight: normal;
  margin: 20px 0 40px 0;
  color: var(--primary-color);
}
.hero button {
  padding: 10px 35px;
  font-size: 18px;
}
